body {
    padding: 0;
    margin: 0;
    font-family: Arial, Calibri, sans-serif, sans;
}

.canvas-outer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.canvas{
    background-color: #6C8AD5;
}

.panel{
    display: none;
}

@media screen and (max-width: 600px){
    .canvas-outer{
        height: 90vh;
    }
    .panel{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        font-size: 40px;
        &__btn{
            width: 100%;
            max-width: 25%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #3415B0;
            color: white;
            &:active{
                background-color: #4526D6;
            }
        }
    }
}
